.progress-bar {
  box-sizing: border-box;
  border: 4px solid black ;
  height:40px;
  
}


::-webkit-progress-bar{
  background-color: #fff;
}


::-webkit-progress-value {
  background-color: #f1c40f;
}