.skills-tec{
    display: flex;
    font-family: 'Press Start 2P';
    font-size:25px ;
    color: #fff;
}


.skills-tec .icon {
    margin-right: 15px;
    width: 90px;
    
}

.skills-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skills-tec .title {
    margin-bottom: 10px;
}